<div class="mip-footer clearfix">
        <div class="mip-center">
            <div class="mip-foot-top clearfix">
                <div class="mip-fr">
                    <ul>
                      <li><a href="{@SL_首页链接}" data-type="mip">关于我们</a></li>
{$text_list(<li><a href="%简介链接%" title="%简介标题%" data-type="mip">%简介标题%</a></li>)}
</ul>
                    <ul>
                      <li><a href="{$product_list2(%产品分类链接%,,1,0)}" data-type="mip">产品分类</a></li>
{$product_sort_list(<li><a href="%产品分类链接%" title="%产品分类标题%" data-type="mip">%产品分类标题%</a></li>,0)}
</ul>
                    <ul>
                      <li><a href="{@SL_安装目录}?type=news&S_id=type:news" data-type="mip">新闻动态</a></li>
{$news_sort_list(<li><a href="%新闻分类链接%" title="%新闻分类标题%" data-type="mip">%新闻分类标题%</a></li>)}
</ul>
<ul>
                      <li><a href="{@SL_联系链接}" data-type="mip">联系我们</a></li>
                      <li><a href="{@SL_联系链接}" data-type="mip">联系方式</a></li>
                      <li><a href="{@SL_留言链接}" data-type="mip">在线留言</a></li>
</ul>
                </div>
                <div class="mip-fl">
                    <p>{@SL_手机版电话}</p>
                    <span>周一至周五 08:30~17:30</span>
                </div>
            </div>
        </div>
    </div>
    <div class="mip-copyright">
        <span>友情链接：
{$link_list(<a href="%友链网址%" title="%友链网站%">%友链网站%</a>,0)}
</span>
        
        <p>{@SL_版权文字}</p>    </div>
    <mip-fixed type="bottom">
        <div class="mip-footnav">
            <ul>
                <li>
                    <a href="{@SL_首页链接}" data-type="mip">
                        <mip-img src="{@SL_安装目录}template/mip/images/home.png" alt="图片名"></mip-img>
                        <span>首页</span>
                    </a>
                </li>
                <li>
                    <a href="tel:{@SL_手机版电话}" data-type="mip">
                        <mip-img src="{@SL_安装目录}template/mip/images/phone.png" alt="图片名"></mip-img>
                        <span>电话</span>
                    </a>
                </li>
                <li>
                    <a href="mailto:{@SL_手机版邮箱}" data-type="mip">
                        <mip-img src="{@SL_安装目录}template/mip/images/email.png" alt="图片名"></mip-img>
                        <span>邮箱</span>
                    </a>
                </li>
                <li>
                                        <a href="{@SL_联系链接}" data-type="mip">
                        <mip-img src="{@SL_安装目录}template/mip/images/contact.png" alt="图片名"></mip-img>
                        <span>联系</span>
                    </a>
                    
                </li>
            </ul>
        </div>
    </mip-fixed>
    <mip-fixed type="gototop" mipdata-fixedidx="Fixed0">
        <mip-gototop class="mip-element mip-layout-container mip-gototop-show"></mip-gototop>
    </mip-fixed>
    <script src="https://mipcache.bdstatic.com/static/v1/mip.js"></script>
    <script src="https://mipcache.bdstatic.com/static/v1/mip-nav-slidedown/mip-nav-slidedown.js"></script>
    <script src="https://mipcache.bdstatic.com/static/v1/mip-gototop/mip-gototop.js"></script>
    <script src="https://mipcache.bdstatic.com/static/v1/mip-vd-tabs/mip-vd-tabs.js"></script>
    <script src="https://mipcache.bdstatic.com/static/v1/mip-sidebar/mip-sidebar.js"></script>