<div class="footer material-box">
			<a href="#" class="footer-logo"></a>
			<p class="boxed-text center-text">
				{@SL_网站描述}
			</p>
			<div class="decoration decoration-margins"></div>
			<div class="footer-socials">
				
				<a href="tel:{@SL_手机版电话}" class="phone-bg"><i class="fa fa-phone"></i></a>
				<a href="mailto:{@SL_手机版邮箱}" class="mail-bg"><i class="fa fa-envelope"></i></a>
				<a href="#" class="bg-magenta-dark"><i class="fa fa-angle-up"></i></a>
				<div class="clear"></div>
			</div>
			<div class="decoration decoration-margins"></div>
			<p class="center-text">{@SL_版权文字}</p>
		</div>
			